mixin anuncio2x4(clientes, i)
    if(i == 0)
        .item.active
            +contenidoAnuncio2x4(clientes, i)
    else
        .item
            +contenidoAnuncio2x4(clientes, i)
            
mixin contenidoAnuncio2x4(clientes, i)
    img(src="./#{clientes[i].logo}", alt='#{clientes[i].nombre}')
    // Static Header
    .header-text.hidden-xs
      .col-md-12.text-center
        h2 #{clientes[i].nombre}
        br
        h3 Telefono:#{clientes[i].telefonos[0]}
        h3 Mail:#{clientes[i].emails[0]}
        br

mixin indicators(i) 
    if(i == 0) 
        li.active(data-target='#carousel-example-generic', data-slide-to='#{i}')
    else
        li(data-target='#carousel-example-generic', data-slide-to='#{i}')

mixin anuncio1x1(clientes, i)
  .item
    .zoom-container
      .zoom-caption
        span #{clientes[i].emails[0]}
        a(href='#dirCliente')
        p #{clientes[i].nombre}
      img(src="./#{clientes[i].logo}", alt='#{clientes[i].nombre}')
      
mixin noticias(noticias, i)
  .box
    a(href='/news?id_municipio=#{noticias[i].id_municipio}&id_noticia=#{noticias[i].id_noticia}')
      h2.vid-name  #{noticias[i].titular}
    .info
      h5
        | Fuente 
        a(href='#{noticias[i].fuente_enclace}') #{noticias[i].fuente_nombre}
      span
        i.fa.fa-calendar
          |  #{noticias[i].fecha}
    .wrap-vid
      .zoom-container
        .zoom-caption
        img(src='#{noticias[i].imagen}')
      span 
        | !{noticias[i].contenido}
      
    
.featured.container
    .row
      .col-sm-8
       each not, index in noticias
        if id_noticia == not.id_noticia
         +noticias(noticias, index)
      #main-content.col-sm-4
       each client, index in clients1x1
        +anuncio1x1(clients1x1, index)
        br
br             
.featured.archive-page.container
  .row
    .col-sm-2
    .col-sm-8
      // Carousel
      #carousel-example-generic.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
            each client, index in clients2x4
                +indicators(index)
        // Wrapper for slides
        .carousel-inner
            each client, index in clients2x4
                +anuncio2x4(clients2x4, index)
            
        // Controls
        a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
        a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
          span.glyphicon.glyphicon-chevron-right

  
#page-content.archive-page.container
  div
    .row
      #main-content.col-md-12
        each not, index in noticias
            if id_noticia != not.id_noticia
                +noticias(noticias, index)


script.
  $(document).ready(function() {
  $("#owl-demo").owlCarousel({
  autoPlay: 3000,
  items : 5,
  itemsDesktop : [1199,4],
  itemsDesktopSmall : [979,4]
  });
  });
