mixin anuncio2x4(clientes, i)
    .col-sm-12
        p.h4.text-center #{clients[i].nombre}
    .col-sm-12
        img.img-responsive.img-circle.center-block(src="./#{clientes[i].logo}" alt="#{clientes[i].nombre}")
    .col-sm-12
        p Email: #{clients[i].emails[0]}
        p Telefono: #{clients[i].telefonos[0]}

mixin anuncio1x2(clientes, i)
    .col-sm-12
        p.h4.text-center #{clients[i].nombre}
    .col-sm-12
        img.img-responsive.img-circle.center-block(src="./#{clientes[i].logo}" alt="#{clientes[i].nombre}")
    .col-sm-12
        p Email: #{clients[i].emails[0]}
        p Telefono: #{clients[i].telefonos[0]}

    
.col-sm-12.fila
    .col-sm-6
        .col-sm-12
            .col-sm-12.contendeor-1-anuncio
                +anuncio2x1(clients, 0)
        .col-sm-12
            .col-sm-12.contendeor-1-anuncio
                +anuncio2x1(clients, 1)
    .col-sm-6
            .col-sm-12.contendeor-1-anuncio
                +anuncio2x1(clients, 2)
- var i = 3
each client, index in clients
    if((index % 4) == 0)
        .col-sm-12.fila
            .col-sm-3
                - if(i<clients.length) {
                    .col-sm-12.contendeor-1-anuncio
                        +anuncio1x1(clients, i)
                -    i++; 
                - }
            .col-sm-3
                - if(i<clients.length) {
                    .col-sm-12.contendeor-1-anuncio
                        +anuncio1x1(clients, i)
                -    i++; 
                - }
            .col-sm-3
                - if(i<clients.length) {
                    .col-sm-12.contendeor-1-anuncio
                        +anuncio1x1(clients, i)
                -    i++;   
                - }       
            .col-sm-3  
                - if(i<clients.length) {
                    .col-sm-12.contendeor-1-anuncio
                        +anuncio1x1(clients, i)
                -    i++;   
                - }
    br
    br
    