mixin anuncio2x4(clientes, i)
    if(i == 0)
        .item.active
            +contenidoAnuncio2x4(clientes, i)
    else
        .item
            +contenidoAnuncio2x4(clientes, i)
            
mixin contenidoAnuncio2x4(clientes, i)
      img(src="./#{clientes[i].logo}", alt='#{clientes[i].nombre}')
      // Static Header
      .header-text.hidden-xs
        .col-md-12.text-center
          a(href='#{clientes[i].web}')
            h2 #{clientes[i].nombre}
            br
            h3 Telefono:#{clientes[i].telefono}
            h3 Mail:#{clientes[i].mail}
            br

mixin indicators(i) 
    if(i == 0) 
        li.active(data-target='#carousel-example-generic', data-slide-to='#{i}')
    else
        li(data-target='#carousel-example-generic', data-slide-to='#{i}')

mixin anuncio1x1(clientes, i)
  .item
    .zoom-container
      .zoom-caption
        span #{clientes[i].mail}
        a(href='#{clientes[i].web}')
        p #{clientes[i].nombre}
      img(src="./#{clientes[i].logo}", alt='#{clientes[i].nombre}')
      
mixin noticias(noticias, i)
  .box
    a(href='/news?id_municipio=#{noticias[i].id_municipio}&id_noticia=#{noticias[i].id_noticia}')
      h2.vid-name  #{noticias[i].titular}
    .info
      h5
        | Fuente 
        a(href='#{noticias[i].fuente_enclace}') #{noticias[i].fuente_nombre}
      span
        i.fa.fa-calendar
          |  #{noticias[i].fecha}
    .wrap-vid
      .zoom-container
        .zoom-caption
        img(src='#{noticias[i].imagen}')
      div 
        | !{noticias[i].contenido}
    br
      